*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: #f6f8f9;
}

/* header with logo */
.page-header{
    background-color: #ffffff;
    padding: 1.5em;
}

.logo-image{
    vertical-align: middle;
}

.logo-name{
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #031732;
    vertical-align: middle;
    display: inline-block;
    line-height: 1em;
}
/* /header with logo */

/* main section */
main{
    max-width: 600px;
    margin: 3em auto;
}

.conteiner{
    padding: 1em 3em;
    background-color: white;
}
/* /main section */

/* btn secction */
.btns{
    border-bottom: 2px solid #f6f8f9;
    line-height: 3;/*puoi usare anche il padding */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button{
    padding: 10px 30px;
    border-radius: 10px;
}

.addtask{
    background-color: rgb(97, 111, 236);
    border: none;
    color: white;
}

.addsection{
    background-color: white;
    color: gray;
    border: 2px solid gray;
}
/* /btn secction */

/* lists section */
.task-lists{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.task-lists > section{
    margin: 10px 0;
}

/* list title */
.list_title{
    line-height: 1;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.arrow{
    font-size: 10px;
    vertical-align: middle;
}
/* /list title */

/* list content */
li{
    list-style:none;
    line-height: 2.6;
    margin: 0 15px;
}

/* sort of checkbox */
.box{
    border-radius: 50%;
    font-size: 15px;
    vertical-align: middle;
    padding: 0 3px;
}

.check{
    color: seagreen;
    border: 1px solid seagreen;
}

.cross{
    color: red;
    border: 1px solid red;
}

.task{
    padding: 0 10px;
}
/* /sort of checkbox */

/* colored tag */
.tag{
    border-radius: 10px;
    color: white;
    padding: 7px;
    font-size: 10px;
}

.editorial{
    background-color: #45abea;
}

.q1goals{
    background-color: #9c72e4;
}

.recruiting{
    background-color: #64c0a9;
}

.mobile{
    background-color: #f29e33;
}

.website{
    background-color: #d863a1;
}

.sales{
    background-color: #b0c926;
}
/* /colored tag */
/* /list content */
/* /lists section */