*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: #f6f8f9;
}

/* header with logo */
.page-header{
    background-color: #ffffff;
    padding: 1.5em;
}

.logo-image{
    vertical-align: middle;
}

.logo-name{
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #031732;
    vertical-align: middle;
    display: inline-block;
    line-height: 1em;
}
/* /header with logo */

/* main section */
main{
    max-width: 600px;
    margin: 3em auto;
}

.conteiner{
    padding: 1em 3em;
    background-color: white;
}
/* /main section */

/* btn secction */
.btns{
    border-bottom: 2px solid #f6f8f9;
    line-height: 3;/*puoi usare anche il padding */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.btn{
    padding: 10px 30px;
    border-radius: 10px;
    font-size: .8rem;
    font-weight: 600;
}

.addtask{
    background-color: #616fec;
    color: white;
    border: 2px solid #616fec;
}

.addsection{
    background-color: white;
    color: lightgray;
    border: 2px solid lightgray;
}
/* /btn secction */

/* lists section */
.task-lists{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul{
    list-style: none;
}

/* list title */
.list_title{
    line-height: 1;
    font-family: 'Be Vietnam Pro', sans-serif;
    vertical-align: middle;
}

.arrow{
    font-size: 10px;
    vertical-align: middle;
}
/* /list title */

/* list content */
.item{
    line-height: 2.5em;
    margin-left: 15px;
}

.checked::before{
    content: "\2714";
    padding: .2em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 1px solid green;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: seagreen;
}

.missed::before{
    content: "\2717";
    padding: .2em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 1px solid red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: red;
}
/* /sort of checkbox */

/* colored tag */
.tag{
    border-radius: 10px;
    color: white;
    padding: 7px;
    font-size: 10px;
}

.editorial{
    background-color: #45abea;
}

.q1goals{
    background-color: #9c72e4;
}

.recruiting{
    background-color: #64c0a9;
}

.mobile{
    background-color: #f29e33;
}

.website{
    background-color: #d863a1;
}

.sales{
    background-color: #b0c926;
}
/* /colored tag */
/* /list content */
/* /lists section */